/*
    Name: Truman Elder
    Date: 16JUN21
    Course: CIS155
    Instructor: Professor Epps
    Assignment: Project V4
    Notes: This will be the styles page for index.html
*/

video {
    width: 80%;
    margin: 0% auto;
    display: block;
    transform: scale(75%, 75%);
    padding: 1%;
    background: cornflowerblue;
    box-shadow: rgb(43, 112, 139) 2px 2px 5px, black 3px 3px 5px;
    transition: ease-in-out 10s;
    /* M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML; note it has to include a time aspect, not be immediate) */
    /* I couldn't quite seem to get transitioning a background down which is what I initially wanted to do. Experimenting lead me to figuring out that this style will scale something down which I thought was cool. */
}