/*
    Name: Truman Elder
    Date: 16JUN21
    Course: CIS155
    Instructor: Professor Epps
    Assignment: Project V4
    Notes: This will be the reset css page for my site to reset any browser specific settings.
*/

article, aside, figcaption, figure, footer, header, main, nav, section
{
   display: block;
}

address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, table, ul
{
   font-size: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}